doctype html
head
  title App3
  meta(charset='utf-8')
  link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u' crossorigin='anonymous')
.container-fluid
  .col-sm-12.col-md-12
    table#tableId.table.table-hover
      thead
        tr
          th(name='iat') Th&#x1EDD;i gian
          th T&ecirc;n kh&aacute;ch h&agrave;ng
          th &Dstrok;i&#x1EC7;n tho&#x1EA1;i
          th &Dstrok;&#x1ECB;a ch&#x1EC9; &dstrok;&oacute;n kh&aacute;ch
          th T&igrave;nh tr&#x1EA1;ng
          th Ghi ch&uacute;
      tbody#list
script#template(type='text/x-handlebars-template').
  {{#each this}}
  <tr>
  <td>{{iat}}</td>
  <td>{{HoTen}}</td>
  <td>{{SDT}}</td>
  <td>{{DiaChi}}</td>
  <td>{{TrangThai}}</td>
  <td>{{GhiChu}}</td>
  </tr>
  {{/each}}
script#template(type='text/x-handlebars-template').
  {{#each this}}
  <li>{{name}}</li>
  {{/each}}
script(src='https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.12/handlebars.min.js')
script(src='https://unpkg.com/axios/dist/axios.min.js')
script(src='https://code.jquery.com/jquery-3.3.1.min.js')
script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js' integrity='sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa' crossorigin='anonymous')
script(type='text/javascript').
  ts = 0;
  var oldTime = -1;
  window.onload = function () {
  loadCategories();
  }
  var loadCategories = function () {
  console.log("2");
  var instance = axios.create({
  baseURL: 'http://localhost:3000/customer/load',
  timeout: 15000
  });
  instance.get('?ts=' + ts)
  .then(function (res) {
  if (res.status === 200) {
  if(oldTime !== ts){
  oldTime = ts
  ts = res.data.return_ts;
  var source = document.getElementById('template').innerHTML;
  var template = Handlebars.compile(source);
  var html = template(res.data.categories);
  document.getElementById('list').innerHTML += html;
  var table = document.getElementById("tableId");
  var rows = table.getElementsByTagName("tr");

  for(k = 1;k< rows.length;k++){
  for(l = k + 1;l<rows.length;l++){
  if(rows[k].getElementsByTagName("TD")[2].textContent===rows[l].getElementsByTagName("TD")[2].textContent){
  rows[k].parentNode.removeChild(rows[k]);
  l--;
  }
  }
  }
  for (i = 0; i < rows.length; i++) {
  row = table.rows[i];
  row.onclick = function(){
  var url = 'http://localhost:3003/app3/lp';
  var win = window.open(url, '_blank');
  win.focus();
  };
  }
  var switching, i, x, y, shouldSwitch;
  //table = document.getElementById("tableId");
  switching = true;
  for(i=1;i<(rows.length - 1);i++){
  for(j=i+1;j<rows.length;j++){
  x = rows[i].getElementsByTagName("TD")[0].textContent;
  y = rows[j].getElementsByTagName("TD")[0].textContent;
  if(parseInt(x) < parseInt(y)){
  rows[i].parentNode.insertBefore(rows[j], rows[i]);
  }
  }
  }
  }
  }
  }).catch(function (err) {
  console.log(err);
  }).then(function () {
  setTimeout(loadCategories,3000);
  })
  }
script.
