doctype html
head
  title Long-Polling
  meta(charset='utf-8')
  link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u' crossorigin='anonymous')
.col-sm-4
.col-sm-4
  label(for='usr') Xin ch&agrave;o: 
  span#result11=' '
  span#result11=idNameName
  form(action='/vntojp' method='POST')
    .form-group
      label(for='usr') T&ecirc;n h&agrave;nh h&agrave;ng:
      input#usr.form-control(type='text' name='name' placeholder='Tên khách hàng')
    .form-group
      label(for='usr') &Dstrok;i&#x1EC7;n tho&#x1EA1;i:
      input#usr.form-control(type='text' name='number' placeholder='Số điện thoại')
    .form-group
      label(for='usr') &Dstrok;&#x1ECB;a ch&#x1EC9; &dstrok;&oacute;n kh&aacute;ch:
      input#usr.form-control(type='text' name='address' placeholder='Địa chỉ đón khách')
    .form-group
      label(for='usr') Ghi ch&uacute;:
      input#usr.form-control(type='text' name='note' placeholder='Ghi chú')
    button.btn.btn-success(type='submit') &Dstrok;&#x1EB7;t chuy&#x1EBF;n &dstrok;i
    span#result13=note1
script(src='https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.12/handlebars.min.js')
script(src='https://unpkg.com/axios/dist/axios.min.js')
script(src='https://code.jquery.com/jquery-3.3.1.min.js')
script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js' integrity='sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa' crossorigin='anonymous')
