doctype html
html
  head
    title Long-Polling
    meta(charset='utf-8')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u', crossorigin='anonymous')
  body
    .col-sm-4
    .col-sm-4
      form(action='/login/', method='POST')
        .form-group
          label(for='usr') Tài khoảng:
          input#usr.form-control(type='text', name='id', placeholder='Tài khoảng')
        .form-group
          label(for='usr') Mật khẩu:
          input#exampleInputPassword1.form-control(type='password', name='password', placeholder='Mật khẩu')
        button.btn.btn-success(type='submit') Đăng nhập
        span#result11=note
        script(src='https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.12/handlebars.min.js')
        script(src='https://unpkg.com/axios/dist/axios.min.js')
        script(src='https://code.jquery.com/jquery-3.3.1.min.js')
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js', integrity='sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa', crossorigin='anonymous')
